body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:35px;
  width:1427px;
  height:1085px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:1422px;
  height:1080px;
  display:flex;
  transition:none;
}
#u127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:1080px;
}
#u127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:33px;
  width:1366px;
  height:1024px;
  display:flex;
  transition:none;
}
#u128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1024px;
}
#u128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:2.5px;
  filter:drop-shadow(none);
  transition:none;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:1037px;
  width:234px;
  height:5px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9921568627450981);
  border-radius:45px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:33px;
  width:1366px;
  height:1024px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:0px;
  width:58px;
  height:3px;
  display:flex;
  opacity:0.5;
  transition:none;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:3px;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:0px;
  width:58px;
  height:3px;
  display:flex;
  opacity:0.5;
  transition:none;
}
#u132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:3px;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:3px;
  height:58px;
  display:flex;
  opacity:0.5;
  transition:none;
}
#u133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:58px;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:539px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:539px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:539px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:539px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:541px;
  width:7px;
  height:7px;
  display:flex;
  opacity:0.15;
  transition:none;
}
#u138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto-Regular", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  line-height:11px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:48px;
  width:55px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Roboto-Regular", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  line-height:11px;
}
#u139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  line-height:11px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:1302px;
  top:48px;
  width:40px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  line-height:11px;
}
#u140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:48px;
  width:16px;
  height:12px;
  display:flex;
  transition:none;
}
#u141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:47px;
  width:28px;
  height:14px;
  display:flex;
  transition:none;
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
}
#u142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:68px;
  width:1366px;
  height:1024px;
}
#u143_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1024px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1024px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1024px;
}
#u144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:32px;
  width:222px;
  height:318px;
  display:flex;
  transition:none;
}
#u145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:252px;
  height:348px;
}
#u145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto-Regular", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  line-height:11px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:15px;
  width:55px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Roboto-Regular", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  line-height:11px;
}
#u146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u146_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  line-height:11px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:15px;
  width:40px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  line-height:11px;
}
#u147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u147_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:15px;
  width:16px;
  height:12px;
  display:flex;
  transition:none;
}
#u148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:14px;
  width:28px;
  height:14px;
  display:flex;
  transition:none;
}
#u149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
}
#u149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 210, 255, 1);
  border-radius:60px;
  filter:drop-shadow(none);
  transition:none;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:50px;
  width:162px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 55", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:61px;
  width:71px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 55", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u152 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u152_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:62px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:44px;
  width:56px;
  height:60px;
  display:flex;
  transition:none;
}
#u154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:60px;
}
#u154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 105 Heavy", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:34px;
  letter-spacing:1px;
  color:#000000;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:50px;
  width:69px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 105 Heavy", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:34px;
  letter-spacing:1px;
  color:#000000;
}
#u155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里健康体2.0 中文 85 B", "阿里健康体2.0 中文", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:56px;
  letter-spacing:1px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:139px;
  width:570px;
  height:71px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里健康体2.0 中文 85 B", "阿里健康体2.0 中文", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:56px;
  letter-spacing:1px;
}
#u156 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u156_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 55", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#8C6345;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:219px;
  width:496px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 55", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#8C6345;
}
#u157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u157_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.396078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 0.592156862745098);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:47px;
  width:272px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:62px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:62px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:53px;
  width:41px;
  height:42px;
  display:flex;
  transition:none;
}
#u162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 85 Bold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:61px;
  width:71px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 85 Bold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u163 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u163_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:62px;
  width:32px;
  height:24px;
  display:flex;
  transition:none;
}
#u164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:58px;
  width:11px;
  height:10px;
  display:flex;
  transition:none;
}
#u165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:319px;
  background:inherit;
  background-color:rgba(239, 245, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(87, 155, 255, 1);
  border-radius:36px;
  filter:drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2901960784313726));
  transition:none;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:297px;
  width:610px;
  height:319px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:393px;
  width:306px;
  height:176px;
  display:flex;
  transition:none;
}
#u167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:176px;
}
#u167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 95 ExtraBold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:36px;
  color:#3067DD;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:333px;
  width:213px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 95 ExtraBold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:36px;
  color:#3067DD;
}
#u168 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u168_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 55", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:rgba(85, 85, 85, 0.792156862745098);
  line-height:40px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:401px;
  width:195px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 55", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:rgba(85, 85, 85, 0.792156862745098);
  line-height:40px;
}
#u169 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u169_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:319px;
  background:inherit;
  background-color:rgba(249, 241, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:36px;
  filter:drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.1411764705882353));
  transition:none;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:297px;
  width:610px;
  height:319px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:319px;
  background:inherit;
  background-color:rgba(239, 243, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:36px;
  filter:drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.1411764705882353));
  transition:none;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:654px;
  width:610px;
  height:319px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:319px;
  background:inherit;
  background-color:rgba(255, 247, 240, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:36px;
  filter:drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.1411764705882353));
  transition:none;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:654px;
  width:610px;
  height:319px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:746px;
  width:272px;
  height:180px;
  display:flex;
  transition:none;
}
#u173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:180px;
}
#u173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:393px;
  width:299px;
  height:172px;
  display:flex;
  transition:none;
}
#u174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:172px;
}
#u174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:743px;
  width:304px;
  height:185px;
  display:flex;
  transition:none;
}
#u175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:185px;
}
#u175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:513px;
  width:193px;
  height:55px;
  display:flex;
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 85 Bold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  letter-spacing:1px;
  color:#FFFDFD;
}
#u176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-2px;
  width:201px;
  height:63px;
}
#u176_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.42745098039215684);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.42745098039215684);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.42745098039215684);
  text-transform:none;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(109, 122, 254, 1);
  border-radius:14px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 65 Medium", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:321px;
  width:120px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 65 Medium", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:528px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:329px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 95 ExtraBold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:36px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:333px;
  width:213px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 95 ExtraBold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:36px;
}
#u180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u180_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 55", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:rgba(85, 85, 85, 0.792156862745098);
  line-height:40px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:401px;
  width:195px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 55", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:rgba(85, 85, 85, 0.792156862745098);
  line-height:40px;
}
#u181 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u181_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:55px;
  background:inherit;
  background-color:rgba(227, 204, 245, 1);
  border-radius:150px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 85 Bold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  letter-spacing:1px;
  color:#7C59A8;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:513px;
  width:193px;
  height:55px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 85 Bold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  letter-spacing:1px;
  color:#7C59A8;
}
#u182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:529px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 95 ExtraBold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:36px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:690px;
  width:198px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 95 ExtraBold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:36px;
}
#u184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 55", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:rgba(85, 85, 85, 0.792156862745098);
  line-height:40px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:758px;
  width:194px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 55", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:rgba(85, 85, 85, 0.792156862745098);
  line-height:40px;
}
#u185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u185_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:55px;
  background:inherit;
  background-color:rgba(198, 210, 255, 1);
  border-radius:150px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 85 Bold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  letter-spacing:1px;
  color:#5268B6;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:870px;
  width:193px;
  height:55px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 85 Bold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  letter-spacing:1px;
  color:#5268B6;
}
#u186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:886px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 95 ExtraBold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:36px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:690px;
  width:213px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 95 ExtraBold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:36px;
}
#u188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u188_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 55", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:rgba(85, 85, 85, 0.792156862745098);
  line-height:40px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:758px;
  width:174px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 55", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:rgba(85, 85, 85, 0.792156862745098);
  line-height:40px;
}
#u189 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u189_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 225, 190, 1);
  border-radius:150px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"阿里巴巴普惠体 3.0 85 Bold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  letter-spacing:1px;
  color:#B68456;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:871px;
  width:193px;
  height:55px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"阿里巴巴普惠体 3.0 85 Bold", "阿里巴巴普惠体 3.0 55  L3", "阿里巴巴普惠体 3.0", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  letter-spacing:1px;
  color:#B68456;
}
#u190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:887px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:531px;
  width:41px;
  height:49px;
  display:flex;
  transition:none;
}
#u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:49px;
}
#u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
